@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 38.5% 97.5%;
    --foreground: 215.7 64.9% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 215.7 64.9% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 215.7 64.9% 11.2%;

    --primary: 175.3 77.4% 26.1%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 42.9% 93.1%;
    --secondary-foreground: 215.7 64.9% 11.2%;

    --muted: 216 42.9% 93.1%;
    --muted-foreground: 221.1 20.4% 36.5%;

    --accent: 216 42.9% 93.1%;
    --accent-foreground: 215.7 64.9% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 217.7 16.4% 58.2%;
    --input: 217.7 16.4% 58.2%;
    --ring: 175.3 77.4% 26.1%;

    --glow-warm: 166 70% 88%;
    --glow-cool: 218 80% 91%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215.7 64.9% 11.2%;
    --foreground: 225.7 70% 88.2%;

    --card: 218.3 58% 15.9%;
    --card-foreground: 225.7 70% 88.2%;

    --popover: 218.3 58% 15.9%;
    --popover-foreground: 225.7 70% 88.2%;

    --primary: 165.7 100% 69.6%;
    --primary-foreground: 215.7 64.9% 11.2%;

    --secondary: 221.2 46.8% 21.4%;
    --secondary-foreground: 225.7 70% 88.2%;

    --muted: 221.2 46.8% 21.4%;
    --muted-foreground: 225 20.2% 61.2%;

    --accent: 221.2 46.8% 21.4%;
    --accent-foreground: 165.7 100% 69.6%;

    --destructive: 0 62.8% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 21% 50%;
    --input: 220 21% 50%;
    --ring: 165.7 100% 69.6%;

    --glow-warm: 166 60% 18%;
    --glow-cool: 222 60% 22%;
  }
}
